{{ block "index" .}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grader</title>
</head>

<body>
    {{ template "navbar" . }}
    <h1>crow</h1>
    <div>
        <div>
            cpi
        </div>
        <div>
            <div>
                username
            </div>
            <div>
                padhai karle!!
            </div>
        </div>
    </div>
</body>

</html>

{{ end }}